POSTGRES_DB=homesecurity
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password123
POSTGRES_PORT=5433

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}

ADMIN_EMAIL=your@email.com

NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
BACKEND_API_SECRET=change-me-in-production
